*{

    --verde: #2F7060;
    --gris: #8C9794;
    --blanco: #e0e4e3;

    --negro: #111111;

}

.bg-negro{
    background-color: var(--negro);
}

.bg-gris{
    background-color: var(--gris);
}

.bg-blanco{
    background-color: var(--blanco);
    
}

.bg-verde{
    background-color: var(--verde);
}

.color-verde{
    color: var(--verde);
    font-weight: bold;
    text-transform: uppercase;
}

.bg-banner ul li a{
    color: var(--verde);
}

.bg-banner ul li a:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.orden-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.orden-derecha{
    margin-left: auto;
    
}


.productos div p{
    font-size: 24px;
}


.flex-imagen img{
    border-radius: 5px;
}

.link-menu{
    text-decoration: none;
    color: var(--verde);
    font-weight: bold;
    text-transform: capitalize;
}

.link-banner{
    text-decoration: none;
    margin-right: 10px;
    color: var(--verde);
    font-weight: bold;
    
}

.link-banner:hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}

.link-hover:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
    color: var(--verde);
}

.texto-imagen{
    position: relative;
    font-size: 18px;
    
    bottom: 150px;
    margin-left: 30px;
    color: var(--blanco);
}

.flex-imagen:hover{
    transform: scale(1.01);
    transition: 0.3s ease;
}


.boton-imagen{
    background-color: var(--blanco);
    text-decoration: none;
    color: var(--verde);
    font-size: 16px;
    padding: 5px;
    
    border-radius: 25px 25px;
}




/* FEATURED */

.card-producto img{
    height: 300px;
}

.card-producto img:hover{
    transform: scale(1.03);
    transition: 0.2s ease;
    transform: rotateZ(3deg);
}

.card-producto p{
    margin: 0;
}


.product-titulo{
    color: var(--verde);
}





/* MEN */

.link-men-titulo {
    text-decoration: none;
    color: var(--verde);
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
}

.card-producto2 img{
    height: 500px;
}


.card-producto2 img:hover{
    transform: scale(1.03);
    transition: 0.2s ease;
    transform: rotateZ(3deg);
}

.card-producto2 p{
    margin: 0;
}

.link-men{
    color: var(--verde);
    
}

.link-men a:hover{
    transform: scale(1.05);
}






/* WOMEN */


.boton-sale{
    background-color: black;
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    
}


.posicion-producto{
    position: relative;
    bottom: 70px;
    left: 20px;
}


.link-men-titulo:hover{
    
    color: var(--gris);
}


/* KIDS */


.posicion-producto-kids{
    position: relative;
    bottom: 120px;
    left: 20px;
    color: var(--blanco);
}





/* ACCESORIES */


.titulo-accesories{
    color: crimson;
}


.precio-accesories{
    font-weight: bold;
}








/* INICIAR SESIÓN  */



.email-iniciarSesion{
    color: #8C9794;
    background-color: #50aa942d;
    border-radius: 20px;
    width: 100%;

}

.centrar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.boton-iniciar{
    
    
    font-size: 24px;
    height: 50px;
    border-radius: 20px;
    background-color: #2F7060;
    color: #e0e4e3;
}

.boton-iniciar:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


.posicion-derecha{
    display: flex;
    justify-content: flex-end;
}




/* COMPRA .HTML */


.boton-iniciar2{
    
    
    font-size: 24px;
    height: 50px;
    border-radius: 20px;
    background-color: #8C9794;
    color: blue;
}

.boton-iniciar2:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}



